// 圖片出現
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, 50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

// 圖片出現
@keyframes fadeInBig {
  0% {
    opacity: 0;
    transform: translate(-50%, 50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

// 從左邊出現
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translate(50%, 0%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

// 從右邊出現
@keyframes fadeRight {
  0% {
    transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

// 從上面出現
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translate(0%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

// 由下往上出現
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate(0%, 50%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
// 展開
@keyframes slideDown {
  0% {
    opacity: 0;

    transform: translateY(-10%) scaleY(0);
  }
  100% {
    opacity: 1;

    transform: translateY(0%) scaleY(1);
  }
}

// 圖片出現
@keyframes fadeIndex {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@keyframes arrowInfinite {
  0% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

//hover 切換

@keyframes showImgAni {
  0% {
    // transform: scaleY(1);
    opacity: 0;
  }

  25% {
    // transform: scaleY(0);
    opacity: 0;
  }
  100% {
    // transform: scaleY(1);
    opacity: 1;
  }
}
