@import "_color.scss";
@import "_mixin.scss";
.childpage {
  .row {
    .em-4 {
      @include range-width(769px, 0) {
        width: 27.5%;
        &:nth-child(2) {
          width: 45%;
        }
        &:nth-child(3) {
          position: relative;
          z-index: 1;
          margin-left: -80px;
          padding-right: 10px;
        }
      }
    }
  }
  .squareImg {
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    @include range-width(300px, 768px) {
      padding: 0 20px;
    }
  }
  h3 {
    @include range-width(300px, 768px) {
      font-weight: lighter;
      font-size: 22px;
      margin: 10px 0 20px;
    }
  }
  p {
    @include range-width(300px, 768px) {
      font-size: 16px;
      font-weight: lighter;
    }
  }
}

article {
  color: #000;
  margin-bottom: 40px;
  .container {
    max-width: 1260px;
  }
  h4 {
    margin-bottom: 18px;
  }
  p {
    line-height: 180%;
  }
  p.date {
    font-size: 14px;
    margin: 90px 0 45px;
    @include range-width(300px, 768px) {
      margin: 20px 0;
    }
  }
  &:nth-child(2n) {
    .row {
      direction: rtl;
    }
  }
  @include range-width(300px, 768px) {
    margin-bottom: 40px;
  }
}

// get help
.faq-list {
  font-size: 0;
  max-width: 800px;
  margin: 0 auto;
  @include range-width(300px, 768px) {
    margin: 64px auto;
  }
  li {
    display: inline-block;
    width: calc(100% / 5);
    overflow: hidden;
    @include range-width(300px, 768px) {
      width: 100%;
    }
    .faq-title {
      position: relative;
      z-index: 1;
      &:hover {
        svg {
          .cls-1 {
            fill: #c3312f;
          }
        }
        p {
          color: #c3312f;
        }
      }
      &.active {
        svg {
          .cls-1 {
            fill: #c3312f;
          }
        }
        p {
          color: #c3312f;
          @include range-width(300px,768px) {
            color: #fff;
          }
        }
      }
    }

    .svg-wrap {
      display: inline-block;
      background: #fff;
      padding: 10px;
      border-radius: 50%;
      position: relative;
      z-index: 1;
    }
    svg {
      max-width: 78px;
      width: 100%;
      cursor: pointer;
      .cls-1 {
        fill: #4d4d4d;
      }
      @include range-width(300px, 768px) {
        max-width: 60px;
      }
    }
    p {
      margin-top: 20px;
      font-size: 12px;
      line-height: 150%;
      @include range-width(300px, 768px) {
        margin: 10px 0 32px;
      }
    }

    .faq-content {
      display: none;
   
      @include range-width(300px,768px) {
        background: $darken;
        color: #fff;
        padding: 80px 20px 26px;
        transform: translateY(-100px);
        display: none;
        margin-bottom: -60px;
        transform-origin: top;
        text-align: left;
      }
    }
  }
}

.faq-answer {
  margin: 108px auto 110px;
  max-width: 800px;
  p {
    line-height: 180%;
    display: none;
    &.active {
      display: block;
    }
  }
  @include range-width(300px,768px) {
    display: none;
  }
}

// faq
.faq {
  .faq-h3 {
    @include range-width(300px,768px) {
      text-align: left;
      font-size: 22px;
      padding: 112px 20px 8px;
    }
  }
  .faq-list {
    margin: auto;
    max-width: 100%;
    padding: 40px 0;
    li {
      width: 100%;
      .faq-title {
        p {
          font-size: 20px;
        }

        &.active {
          p {
            color: #fff;
          }
        }
      }

      p {
        font-size: 14px;
        margin-bottom: 32px;
        @include range-width(300px,768px) {
          font-size: 12px;
        }
      }
    }
  }
  .faq-title.active + .faq-content {
   
   
  }
  .faq-content {
    background: $darken;
    color: #fff;
    padding: 120px 20px 26px;
    transform: translateY(-130px);
    margin-bottom: -60px;
    transform-origin: top;
    h5 {
      font-size: 14px;
      font-weight: 400;
    }
    .content-text {
      max-width: 800px;
      margin: auto;
      p {
        margin-bottom: 10px;
      }
    }
  }
}

// warranty
.warranty {
  padding: 52px 0;
  .em-6:nth-child(2) {
    padding: 0 0 0 30px;
    @include range-width(300px,768px) {
      padding: 0;
    }
  }
  .warranty-info {
    margin: 52px 0 144px;
    text-align: justify;
    @include range-width(300px,768px) {
      margin: 20px 0 32px;
    }
    p {
      margin-bottom: 40px;
      line-height: 180%;
      @include range-width(300px,768px) {
        margin-bottom: 32px;
      }
    }
  }
  &.container {
    max-width: 800px;
    @include range-width(300px,768px) {
      padding: 0 20px;
    }
  }
  form {
    text-align: left;
    h4 {
      margin-bottom: 24px;
      font-weight: 400;
      @include range-width(300px,768px) {
        margin: 20px 0 36px;
      }
    }
  }
  .input-group {
    input,
    textarea {
      margin: 12px 0 36px;
      font-size: 20px;
      @include range-width(300px,768px) {
        margin: 12px 0;
      }
    }
    input[type="radio"] {
      margin-top: 24px;
      @include range-width(300px,768px) {
        margin: 20px 0 20px;
      }
    }

    &.list {
      font-size: 0;
      label {
        font-size: 1rem;
        display: inline-block;
        width: calc(100% / 5);
        @include range-width(300px,768px) {
          width: calc(100% /3);
        }

        p {
          display: inline-block;
          vertical-align: middle;
          margin: 24px 0 36px;
          @include range-width(300px, 768px) {
            margin: 20px 0 20px;
          }
          word-break: break-all;
        }
      }
    }
  }
  .upload-block {
    border: 1px solid $maincolor;
    color: $maincolor;
    display: inline-block;
    width: 84px;
    height: 84px;
    border-radius: 10px;
    text-align: center;
    line-height: 72px;
    font-size: 42px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 12px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  input[type="text"],
  textarea {
    appearance: none;
    width: 100%;
    border: 1px solid $maincolor;
    padding: 10px;
    height: 42px;
    border-radius: 21px;
    @include range-width(300px,768px) {
      height: 26px;
      padding: 0 10px;
    }
  }
  input[type="file"] {
    width: 100%;
  }
  input[type="radio"] {
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid $maincolor;
    &:checked {
      background-color: $darken;
    }
  }
  textarea {
    height: 84px;
  }
  .buttons {
    margin: 54px 0;
    @include range-width(300px,768px) {
      margin: 36px 0;
    }
  }
  button {
    appearance: none;
    padding: 10px;
    background-color: $maincolor;
    display: inline-block;
    width: 100%;
    border: 0px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 12px;
    &.btn-red {
      background: #c3312f;
      color: #fff;
    }
  }
}

// 條款頁
.text-only {
  //  padding: 176px 0;
  .container {
    padding: 176px 0;
    @include range-width(300px, 768px) {
      // margin: 112px 0;
      padding: 112px 20px;
    }
  }

  h3 {
    margin-bottom: 64px;
    @include range-width(300px, 768px) {
      margin-bottom: 48px;
    }
  }
  p {
    line-height: 180%;
    margin-bottom: 40px;
  }
  h4 {
    margin-bottom: 15px;
    font-weight: 300;
  }
}
