@import '_color.scss';
@import '_mixin.scss';
// footer
.slider-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 0px 40px 40px;
    @include range-width(300px, 768px) {
        position: fixed;
        padding:0 20px 40px;
        &.active{
            z-index: 100;
            padding: 0 30px 40px;
            .arrow{
                display: none;
            }
            ul li.contact{
                display: flex !important;
               justify-content: space-between;
               p{
                   margin-right: auto;
               }
            }
        }
    }
    p {
        color: $navcolor;
        font-weight: 200;
    }
    ul {
        font-size: 0;
        li {
            display: inline-block;
            vertical-align: bottom;
            width: calc(100% / 3);
            @include range-width(0, 768px) {
                width: 100%;
                text-align: center;
            }
            &.contact {
                p {
                    font-size: 16px;
                }
                a {
                   
                    img {
                        margin-left: 20px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
    .arrow {
        width: 30px;
        margin-right: 22px;
        animation: arrowInfinite 1s infinite alternate linear;
        @include range-width(300px, 768px) {
            margin-right: 0;
        }
    }
}

footer {
    background-color: $darken;
    padding: 48px 40px 200px;
    color: $maincolor;
    width: 100%;
    @include range-width(300px, 576px) {
        padding: 50px 25px;
        p {
            font-size: 12px;
        }
    }
    &>ul {
        display: flex;
        flex-wrap: wrap;
        @include range-width(300px, 576px) {
            flex-direction: column;
        }
        &>li {
            flex: 1;
            text-align: left;
            &:nth-child(1) {
                flex: 3;
                display: flex;
                flex-wrap: wrap;
                @include range-width(300px, 576px) {
                    order: 4;
                    img {
                        margin-bottom: 20px;
                    }
                }
                &>* {
                    display: block;
                    align-self: flex-end;
                }
                img {
                    margin-bottom: 16px;
                }
            }
            h4 {
                margin-bottom: 45px;
                font-size: 16px;
                font-weight: bold;
                @include range-width(300px, 576px) {
                    margin-bottom: 30px;
                }
            }
            li {
                margin-bottom: 27px;
                font-size: 15px;
                font-weight: 100;
                @include range-width(769px,0){
                    &:last-child{
                        margin-bottom: 0;
                }
            }
                @include range-width(300px, 576px) {
                    margin-bottom: 30px;
                    font-size: 14px;
                    &:last-child {
                        margin-bottom: 55px;
                    }
                }
            }
        }
    }
    a{
         color:$navcolor;
         text-decoration: none;
         &:visited,
         &:hover,
         &:active {
             color: $navcolor;
         }
    }
}