@import "_color.scss";
@import "_mixin.scss";
// header
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 15px 20px 20px;
  color: $navcolor; // background-color: #f00;
  #menu {
    position: relative;
    z-index: 102;
    cursor: pointer;
  }
  .menuUl {
    display: flex;
    justify-content: space-between;
  }
  li {
    display: inline-block;
    color: $maincolor;
    vertical-align: middle;
    &>* {
      display: inline-block;
      vertical-align: middle;
    }
    p {
      color: $navcolor;
      font-size: 12px;
    } // 三明治選單
    .menu-line {
      width: 24px;
      height: 1px;
      background: $navcolor;
      position: relative;
      margin-right: 13px;
      transition: .3s;
      margin-top: 7px;
      @include range-width(300px, 768px) {
        width: 26px;
      }
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        transition: .3s;
        width: 100%;
        height: 1px;
        background: $navcolor;
      }
      &:before {
        top: -10px;
      }
      &:after {
        bottom: -10px;
      }
      &.active {
        transform: rotate(45deg);
        &:before {
          transform: translate(-100%, 0);
          opacity: 0;
        }
        &:after {
          transform: rotate(90deg) translate(-10px, 0);
          @include range-width(300px, 768px) {
            transform: rotate(90deg) translate(-40%, 0);
          }
        }
      }
    }
    img,
    svg {
      width: 30px;
      .cls-1 {
        fill: none;
      }
      .cls-2 {
        fill: $maincolor;
        stroke-width: 0;
      }
      &.menu {
        width: 52px;
        margin-right: 17px;
        @include range-width(300px, 768px) {
          width: 32px;
        }
      }
    }
    .background--light {
      svg {
        .cls-2 {
          fill: $darken;
        }
      }
    }
  }
}

// 全螢幕選單
.menu-list {
  width: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  background: rgba(#fff, 1);
  z-index: 100;
  font-size: 0;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  &.active {
    left: 0;
    .logo-area {
      animation: fadeDown .5s .5s forwards;
    }
    .showImg {
      animation: fadeUp .5s .8s forwards;
    }
  }
  .showImgAni{
    transform-origin: right length;
    animation: showImgAni 1s forwards;
  }
  &.sibActive{
    background:$darken;
  }
  .logo-area {
    display: block;
    width: 100%;
    padding: 115px 0 40px;
    text-align: center;
    opacity: 0;
    @include range-width(300px, 768px) {
      padding: 60px 0 20px;
    }
    img {
      max-width: 132px;
    }
  }
  .lists {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    @include range-width(300px, 768px) {
      height: calc(100% - 154px);
      
    }
    &>* {
      display: inline-block;
      vertical-align: top;
    }
    ul {
      width: 25%;
      @include range-width(300px, 768px) {
        align-self: flex-end;
        width: 40%;
        &:first-child{
          li{
text-align: left;
          }
          
        }
      }
      li {
        display: block;
        text-align: center;
        position: relative;
        z-index: 101;
        margin-bottom: 0;
        padding: 10px;
        &:last-child{
          margin-bottom: 100px;
        }
        &:nth-child(2) {
          margin: 168px 0;
          @include range-width(300px, 768px) {
            margin:0;
          }
        }
        @include range-width(300px, 768px) {
          padding: 20px 30px;
        }
        a {
          font-size: 20px;
          color: $navcolor;
          text-decoration: none;
          display: inline-block;
          // width: 100%;
          font-weight: 500;
          position: relative;
          overflow: hidden;
          &.sibActive{
            color:#B13F3D;
          }
          &:after{
            content: '';
            display: block;
            height: 2px;
            width: 100%;
            background-color: $red;
            position: absolute;
            left: -100%;
            bottom: 0px;
            transition: .5s ease;
          }
          &:hover{
            &:after{
              left: 0;
            }
          }
          @include range-width(300px, 768px) {
            font-size: 16px;
          }
        }
      }
      
    }
  }
  .showImg {
    width: 50%;
    opacity: 0;
    @include range-width(300px,768px){
      width: 20%;
    }
    img {
      height: calc(100% - 229px);
      object-fit: cover;
      object-position: 50% 0%;
      @include range-width(300px, 768px) {
        // height: calc(100% - 154px);
        height: auto;
        width: 100vw;
        margin-left: -200%;
      }
    }
    &+ul{
      @include range-width(300px,768px){
li {
  text-align: right;
}
      }
      
    }
  }
}

// 第二層選單
.sibling-menu-list {
  position: fixed;
  top: 0;
  width: 75%;
  height: 100%;
  z-index: 102;
 background: #fff;
  left: 125%;
  transition: .5s;
  &.active {
    left: 25%;
    overflow: auto;
    @include range-width(300px, 768px) {
      width: 100%;
      left: 0;
    }
  }
  .back {
    width: 30px;
    height: 30px;
    padding: 5px;
    position: absolute;
    top: 30px;
    left: 70px;
    cursor: pointer;
    @include range-width(769px, 0) {
      transform: translate(-50%, -50%) rotate(180deg);
    }
    @include range-width(300px, 768px) {
      left: 30px;
      top: 30px;
      transform: translate(-50%, -50%);
    }
  }
  &>ul {
    font-size: 0;
    padding: 140px; // overflow: scroll;
    @include range-width(300px, 768px) {
      padding: 80px 40px;
    }
    &>li {
      display: inline-block;
      width: calc(50% - 34px / 2);
      margin-bottom: 34px;
      background: #fff;
      height: 320px;
      animation: fadeUp .5s backwards;
      box-shadow: 0px 0px 15px 0px rgba($navcolor,.8);
      background-color: $darken;
      &:nth-child(1) {
        animation-delay: .5s;
      }
      &:nth-child(2) {
        animation-delay: .6s;
      }
      &:nth-child(3) {
        animation-delay: .7s;
      }
      &:nth-child(4) {
        animation-delay: .8s;
      }
      &:nth-child(5) {
        animation-delay: .9s;
      }
      &:nth-child(6) {
        animation-delay: 1s;
      }
      @include range-width(300px, 768px) {
        width: 100%;
        height: 228px;
        margin-bottom: 20px;
      }
      img {
        object-fit: cover;
        height: 230px;
        background-color: #fff;
        @include range-width(300px, 768px) {
          height: 140px;
        }
      }
      p {
        text-align: center;
        margin: 14px 0 18px;
        width: 100%;
        font-size: 11px;
        font-weight: 200;
        transform: scale(0.95);
        color: #fff;
        span {
          color: $navcolor;
          display: block;
        }
      }
      &:nth-child(2n) {
        margin-left: 34px;
        @include range-width(300px, 768px) {
          margin-left: 0;
        }
      }
    }
    .dots {
      padding: 0;
      text-align: center;
      width: 100%;
      li {
        display: inline-block;
        margin: 0 8px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid #fff;
       
      }
    }
  }
}