@import '_color.scss';
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
    font-size: 18px;
}

body {
    font-family: MicrosoftJhengHeiLight, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

p {
    letter-spacing: 1px;
    font-size: 1rem;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.inlineBlock {
    display: inline-block;
    vertical-align: middle;
}

.marginL {
    margin-left: 1rem;
}

// header
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 20px;
    // background-color: #f00;
    ul {
        display: flex;
        justify-content: space-between;
    }
    li {
        display: inline-block;
        color: $maincolor;
        vertical-align: middle;
        &>* {
            display: inline-block;
            vertical-align: middle;
        }
        img {
            width: 30px;
            &.menu {
                width: 52px;
                margin-right: 17px;
            }
        }
    }
}

.mainSlider {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    .section {
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        .bgimg {
            max-width: 600px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 0;
        }
        &.active {
            .bgimg {
                animation: fadeIn 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
            }
            @keyframes fadeIn {
                0% {
                    opacity: 0;
                    transform: translate(-50%, 200%);
                }
                100% {
                    opacity: 1;
                    transform: translate(-50%, 0);
                }
            }
        }
    }
    .content {
        color: $maincolor;
        position: relative;
        z-index: 1;
        display: block;
        margin: auto;
        text-align: center;
        max-width: 400px;
        a {
            display: block;
            margin: 0 auto;
            padding: 10px;
            border: 1px solid $maincolor;
            color: $maincolor;
            // background-color: #f00;
            border-radius: 30px;
            text-decoration: none;
        }
    }
    .video-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

#dots {
    position: absolute;
    right: auto !important;
    left: 40px;
    bottom: 140px;
    top: auto;
    transform: translate(0);
    .dot-active {
        background-color: $maincolor;
    }
    .dot {
        margin: 10px 0;
        transition: .2s;
        a {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: block;
            background-color: lighten($maincolor, 5%);
        }
        &.active {
            a {
                background-color: $maincolor;
            }
            transform: scale(1.2);
            transition: .2s;
        }
    }
}

.section {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 72px;
        // max-width: 40px;
        font-weight: 400;
    }
}

// footer
.slider-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 0px 40px 40px;
    p {
        color: $maincolor;
    }
    ul {
        font-size: 0;
        li {
            display: inline-block;
            vertical-align: bottom;
            width: calc(100% / 3);
            &.contact {
                p {
                    font-size: 18px;
                }
                a {
                    img {
                        margin-left: 28px;
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }
    }
}

footer {
    background-color: #252525;
    padding: 48px 40px 200px;
    color: $maincolor;
    &>ul {
        display: flex;
        flex-wrap: wrap;
        &>li {
            flex: 1;
            &:nth-child(1) {
                flex: 3;
                display: flex;
                flex-wrap: wrap;
                &>* {
                    display: block;
                    align-self: flex-end;
                }
                img {
                    margin-bottom: 16px;
                }
            }
            h4 {
                margin-bottom: 45px;
                font-size: 20px;
                font-weight: bold;
            }
            li {
                margin-bottom: 27px;
                font-size: 21px;
                font-weight: 100;
            }
        }
    }
}