@import '_color.scss';
@import '_mixin.scss';
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
    font-size: 18px;
    font-family: 'MicrosoftJhengHei', '微軟正黑體', Arial, Helvetica, sans-serif;
}

body {
    font-family: 'MicrosoftJhengHeiLight', 'MicrosoftJhengHei', '微軟正黑體', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

h3 {
    font-size: 42px;
}

p {
    letter-spacing: 1px;
    font-size: 1rem;
}

.color-black {
    color: #000;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.inlineBlock {
    display: inline-block;
    vertical-align: middle;
}

.marginL {
    margin-left: 1rem;
}

.d-sm-none {
    @include range-width(300px, 768px) {
        display: none !important;
    }
}

.img-fluid {
    width: 100%;
    height: auto;
    display: block;
}

.bg-red {
    background: #B43D37;
}

.bg-blur {
    filter: blur(10px);
}

.container {
    max-width: 1680px;
    margin: 0 auto;
    @include range-width(300px, 768px) {
        width: 100%;
    }
}

.d-md-block {
    @include range-width(769px, 0) {
        display: block !important;
    }
}

// header
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 20px;
    color: $navcolor;
    // background-color: #f00;
    ul {
        display: flex;
        justify-content: space-between;
    }
    li {
        display: inline-block;
        color: $maincolor;
        vertical-align: middle;
        &>* {
            display: inline-block;
            vertical-align: middle;
        }
        p {
            color: $navcolor;
        }
        img,
        svg {
            width: 30px;
            .cls-1 {
                fill: none;
            }
            .cls-2 {
                fill: $maincolor;
                stroke-width: 0;
            }
            &.menu {
                width: 52px;
                margin-right: 17px;
            }
        }
        .background--light {
            svg {
                .cls-2 {
                    fill: #252525;
                }
            }
        }
    }
}

.target {
    transition: .5s;
}

.background--light {
    color: #252525 !important;
}

.background--dark {
    color: $maincolor !important;
}

.mainSlider {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    .section {
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        background-position: 50% 50%;
        // 圖片背景商品圖
        .bgimg {
            max-width: 600px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 0;
            opacity: 0;
            &.bgimg-big {
                max-width: 1170px;
                @include range-width(300px, 768px) {
                    object-fit: cover;
                    height: auto;
                    max-width: 80%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            @include range-width(300px, 768px) {
                max-width: 100%;
            }
        }
        &.active {
            .bgimg {
                animation: fadeIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
            }
            @keyframes fadeIn {
                0% {
                    opacity: 0;
                    transform: translate(-50%, 50%);
                }
                100% {
                    opacity: 1;
                    transform: translate(-50%, 0);
                }
            }
            @include range-width(300px, 768px) {
                .bgimg-big {
                    animation: fadeInBig 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
                }
                @keyframes fadeInBig {
                    0% {
                        opacity: 0;
                        transform: translate(-50%, 50%);
                    }
                    100% {
                        opacity: 1;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
    // 內容
    .content {
        color: $maincolor;
        position: relative;
        z-index: 1;
        display: block;
        margin: auto;
        text-align: center;
        @include range-width(300px, 768px) {
            padding: 0 40px;
            h2 {
                font-size: 48px;
            }
        }
        a {
            display: block;
            margin: 0 auto;
            padding: 15px;
            border: 1px solid $maincolor;
            color: $maincolor;
            // background-color: #f00;
            border-radius: 30px;
            text-decoration: none;
            max-width: 292px;
            font-size: 16px;
            font-weight: lighter;
            @include range-width(300px, 768px) {
                font-size: 14px;
                max-width: 200px;
                padding: 8px 10px;
            }
            &.background--light {
                border: 1px solid #252525;
            }
        }
    }
    .main-content {
        // h3 {
        //     font-size: 42px;
        // }
        h4 {
            margin: 120px 0 55px;
            font-size: 36px;
            font-weight: normal;
        }
        p {
            margin: 52px 0 70px;
            @include range-width(300px, 768px) {
                margin-top: 17px;
                font-size: 14px;
            }
        }
    }
    .video-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

#dots {
    position: absolute;
    right: auto !important;
    left: 40px;
    bottom: 140px;
    top: auto;
    transform: translate(0);
    .dot-active {
        background-color: $navcolor;
    }
    .dot {
        margin: 10px 0;
        transition: .2s;
        a {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: block;
            background-color: lighten($navcolor, 5%);
        }
        &.active {
            a {
                background-color: $navcolor;
            }
            transform: scale(1.2);
            transition: .2s;
        }
    }
}

.section {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 72px;
        // max-width: 40px;
        font-weight: 400;
    }
}

// footer
.slider-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 0px 40px 40px;
    @include range-width(300px, 768px) {
        position: fixed;
    }
    p {
        color: $navcolor;
    }
    ul {
        font-size: 0;
        li {
            display: inline-block;
            vertical-align: bottom;
            width: calc(100% / 3);
            @include range-width(0, 768px) {
                width: 100%;
                text-align: center;
            }
            &.contact {
                p {
                    font-size: 18px;
                }
                a {
                    img {
                        margin-left: 28px;
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }
    }
    .arrow {
        width: 40px;
        margin-right: 22px;
        @include range-width(300px, 768px) {
            margin-right: 0;
        }
    }
}

footer {
    background-color: #252525;
    padding: 48px 40px 200px;
    color: $maincolor;
    @include range-width(300px, 576px) {
        padding: 50px 25px;
        p {
            font-size: 12px;
        }
    }
    &>ul {
        display: flex;
        flex-wrap: wrap;
        @include range-width(300px, 576px) {
            flex-direction: column;
        }
        &>li {
            flex: 1;
            text-align: left;
            &:nth-child(1) {
                flex: 3;
                display: flex;
                flex-wrap: wrap;
                @include range-width(300px, 576px) {
                    order: 4;
                    img {
                        margin-bottom: 20px;
                    }
                }
                &>* {
                    display: block;
                    align-self: flex-end;
                }
                img {
                    margin-bottom: 16px;
                }
            }
            h4 {
                margin-bottom: 45px;
                font-size: 20px;
                font-weight: bold;
                @include range-width(300px, 576px) {
                    margin-bottom: 30px;
                }
            }
            li {
                margin-bottom: 27px;
                font-size: 21px;
                font-weight: 100;
                @include range-width(300px, 576px) {
                    margin-bottom: 30px;
                    font-size: 14px;
                    &:last-child {
                        margin-bottom: 55px;
                    }
                }
            }
        }
    }
}

.products {
    .mainpage {
        @include range-width(300px, 768px) {
            .main-content {
                p {
                    margin: 36px 0 78px;
                }
                h4 {
                    margin-top: 0;
                    margin-bottom: 36px;
                }
            }
        }
    }
    &.mainSlider {
        .content {
            @include range-width(300px, 768px) {
                padding: 0 58px;
            }
        }
    }
    .content {
        // 動態文字
        .animation-text {
            font-size: 0;
            letter-spacing: 0;
            color: #000;
            li {
                display: inline-block;
                vertical-align: middle;
                width: calc(100% / 3);
                @include range-width(300px, 768px) {
                    width: 100%;
                    padding: 20px 0;
                    img {
                        width: 102px;
                    }
                }
                img {
                    max-width: 254px;
                }
                // p {
                //     text-align: left;
                // }
                &:nth-child(3) {
                    text-align: left;
                    @include range-width(300px, 768px) {
                        text-align: center;
                    }
                    h3 {
                        margin-bottom: 22px;
                    }
                }
            }
            h3 {
                font-size: 36px;
                margin-bottom: 52px;
                @include range-width(300px, 768px) {
                    font-size: 26px;
                    margin-bottom: 10px;
                }
            }
            .circle {
                width: 264px;
                height: 264px;
                border: 1px solid #B43D37;
                border-radius: 50%;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                @include range-width(300px, 768px) {
                    width: 50vw;
                    height: 50vw;
                }
                h4 {
                    font-size: 36px;
                    @include range-width(300px, 768px) {
                        font-size: 28px;
                    }
                }
            }
        }
        &.half-block {
            height: 100%;
            @include range-width(300px, 768px) {
                padding: 0;
            }
            // 區塊戰一半
            .half {
                font-size: 0;
                letter-spacing: 0;
                color: #000;
                height: 50%;
                overflow: hidden;
                display: flex;
                flex: wrap;
                @include range-width(300px, 768px) {
                    flex-direction: column;
                }
                &>div {
                    display: inline-flex;
                    height: 100%;
                    vertical-align: top;
                }
                .text {
                    width: 37%;
                    word-break: break-all;
                    text-align: left;
                    flex-wrap: wrap;
                    align-items: center;
                    padding: 0 100px;
                    h3 {
                        margin-bottom: 50px;
                    }
                    @include range-width(300px, 768px) {
                        width: 100%;
                        padding: 0 58px;
                        text-align: center;
                        height: 50vh;
                        order: 2;
                        h3 {
                            // font-size: 26px;
                            margin-bottom: 22px;
                        }
                    }
                }
                h3 {
                    // font-size: 42px;
                    @include range-width(300px, 768px) {
                        font-size: 26px;
                    }
                }
                .img-wrap {
                    width: 63%;
                    height: 50vh;
                    overflow: hidden;
                    img {
                        object-fit: cover;
                    }
                    @include range-width(300px, 768px) {
                        width: 100%;
                        height: 0;
                        padding-bottom: 100%;
                        position: relative;
                        order: 1;
                        img {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .halfL {
                .text {
                    order: 2;
                }
                .img-wrap {
                    order: 1;
                }
            }
            .flex-4 {
                flex: 0 0 33.3333%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                @include range-width(300px, 768px) {
                    &>div {
                        padding: 0 58px;
                        img {
                            margin: 12px 0 16px;
                        }
                    }
                }
            }
        }
    }
}

.certsLabel {
    h3 {
        // font-size: 42px;
        margin-bottom: 54px;
    }
    ul {
        font-size: 0;
        letter-spacing: 0;
        max-width: 800px;
        margin: 0 auto;
        li {
            display: inline-block;
            width: calc(100% / 3);
            padding: 20px;
            text-align: center;
            vertical-align: top;
            margin-bottom: 50px;
            img {
                max-width: 50px;
                margin: 0 auto;
            }
        }
    }
    @include range-width(300px, 768px) {
        h3 {
            font-size: 26px;
            margin: 118px 0 40px;
        }
        ul {
            padding: 0 58px;
            li {
                margin-bottom: 36px;
                padding: 0 20px;
                img {
                    max-width: 42px;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 10px;
                    transform: scale(.9);
                }
            }
        }
    }
}

.specForm {
    max-width: 500px;
    margin: 0 auto;
    font-size: 0;
    letter-spacing: 0;
    &>div {
        display: inline-block;
        vertical-align: top;
        width: calc(50% - (40px / 2));
        &.specTitle {
            text-align: right;
        }
        &.specList {
            margin-left: 40px;
            text-align: left;
            li {
                p {
                    margin: 0;
                    margin-bottom: 8px;
                    font-size: 16px;
                    @include range-width(300px, 768px) {
                        font-size: 10px;
                        transform: scale(.9);
                    }
                }
                margin-bottom :18px;
                @include range-width(300px, 768px) {
                    margin-bottom: 14px;
                }
            }
        }
    }
    @include range-width(300px, 768px) {
        h3 {
            font-size: 28px;
        }
    }
    h4+p {
        margin: 12px 0 45px;
    }
}

.section-spec {
    @include range-width(300px, 768px) {
        padding: 124px 0 40px;
    }
}