@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  position: relative;
  height: 100%;
  font-size: 18px;
  font-family: 'MicrosoftJhengHei', '微軟正黑體', Arial, Helvetica, sans-serif; }

body {
  font-family: 'MicrosoftJhengHeiLight', 'MicrosoftJhengHei', '微軟正黑體', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4 {
  font-weight: normal; }

h3 {
  font-size: 42px; }

p {
  letter-spacing: 1px;
  font-size: 1rem; }

.color-black {
  color: #000; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.inlineBlock {
  display: inline-block;
  vertical-align: middle; }

.marginL {
  margin-left: 1rem; }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .d-sm-none {
    display: none !important; } }

.img-fluid {
  width: 100%;
  height: auto;
  display: block; }

.bg-red {
  background: #B43D37; }
  .bg-red:hover {
    background: #a03631; }

.bg-blur {
  -webkit-filter: blur(10px);
  filter: blur(10px); }

.container {
  max-width: 1680px;
  margin: 0 auto; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .container {
      width: 100%; } }

@media screen and (min-width: 769px) {
  .d-md-block {
    display: block !important; } }

.target {
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s; }

.background--light {
  color: #252525 !important; }

.background--dark {
  color: #ddd !important; }

.section {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .section h2 {
    font-size: 72px;
    font-weight: 400; }

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 20px;
  color: #787878; }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  header li {
    display: inline-block;
    color: #ddd;
    vertical-align: middle; }
    header li > * {
      display: inline-block;
      vertical-align: middle; }
    header li p {
      color: #787878; }
    header li img,
    header li svg {
      width: 30px; }
      header li img .cls-1,
      header li svg .cls-1 {
        fill: none; }
      header li img .cls-2,
      header li svg .cls-2 {
        fill: #ddd;
        stroke-width: 0; }
      header li img.menu,
      header li svg.menu {
        width: 52px;
        margin-right: 17px; }
        @media screen and (max-width: 768px) and (min-width: 300px) {
          header li img.menu,
          header li svg.menu {
            width: 32px; } }
    header li .background--light svg .cls-2 {
      fill: #252525; }

.mainSlider {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }

.section {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .section .bgimg {
    max-width: 600px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 0;
    opacity: 0; }
    .section .bgimg.bgimg-big {
      max-width: 1170px; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .section .bgimg.bgimg-big {
          -o-object-fit: cover;
          object-fit: cover;
          height: auto;
          max-width: 80%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); } }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .section .bgimg {
        max-width: 100%; } }
  .section.active .bgimg {
    -webkit-animation: fadeIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation: fadeIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .section.active .bgimg-big {
      -webkit-animation: fadeInBig 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
      animation: fadeInBig 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; } }
  .section.active .fadeLeft {
    -webkit-animation: fadeLeft 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation: fadeLeft 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }
  .section.active .fadeRight {
    -webkit-animation: fadeRight 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation: fadeRight 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }
  .section.active .fadeLeft {
    -webkit-animation: fadeLeft 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation: fadeLeft 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }
  .section.active .fadeDown {
    opacity: 0;
    -webkit-animation: fadeDown 2s 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation: fadeDown 2s 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }
  .section.active .fadeUp {
    opacity: 0;
    -webkit-animation: fadeUp 2s 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation: fadeUp 2s 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }

.content {
  color: #ddd;
  position: relative;
  z-index: 1;
  display: block;
  margin: auto;
  text-align: center; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .content {
      padding: 0 40px; }
      .content h2 {
        font-size: 48px; } }
  .content a {
    display: block;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ddd;
    color: #ddd;
    border-radius: 30px;
    text-decoration: none;
    max-width: 292px;
    font-size: 16px;
    font-weight: lighter; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .content a {
        font-size: 14px;
        max-width: 200px;
        padding: 8px 10px; } }
    .content a.background--light {
      border: 1px solid #252525; }

.main-content h4 {
  margin: 120px 0 55px;
  font-size: 36px;
  font-weight: normal; }

.main-content p {
  margin: 52px 0 70px; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .main-content p {
      margin-top: 17px;
      font-size: 14px; } }

.video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .video-wrap video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.product-select {
  margin-top: 44px; }
  .product-select li {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #787878;
    padding: 10px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    position: relative; }
    .product-select li span {
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

#dots {
  position: absolute;
  right: auto !important;
  left: 40px;
  bottom: 140px;
  top: auto;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0); }
  #dots .dot-active {
    background-color: #787878; }
  #dots .dot {
    margin: 10px 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    #dots .dot a {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: block;
      background-color: #858585; }
    #dots .dot.active {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      #dots .dot.active a {
        background-color: #787878; }

.slider-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 0px 40px 40px; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .slider-footer {
      position: fixed; } }
  .slider-footer p {
    color: #787878; }
  .slider-footer ul {
    font-size: 0; }
    .slider-footer ul li {
      display: inline-block;
      vertical-align: bottom;
      width: calc(100% / 3); }
      @media screen and (max-width: 768px) and (min-width: 0) {
        .slider-footer ul li {
          width: 100%;
          text-align: center; } }
      .slider-footer ul li.contact p {
        font-size: 18px; }
      .slider-footer ul li.contact a img {
        margin-left: 28px;
        width: 28px;
        height: 28px; }
  .slider-footer .arrow {
    width: 40px;
    margin-right: 22px; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .slider-footer .arrow {
        margin-right: 0; } }

footer {
  background-color: #252525;
  padding: 48px 40px 200px;
  color: #ddd; }
  @media screen and (max-width: 576px) and (min-width: 300px) {
    footer {
      padding: 50px 25px; }
      footer p {
        font-size: 12px; } }
  footer > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media screen and (max-width: 576px) and (min-width: 300px) {
      footer > ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    footer > ul > li {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: left; }
      footer > ul > li:nth-child(1) {
        -webkit-box-flex: 3;
        -ms-flex: 3;
        flex: 3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        @media screen and (max-width: 576px) and (min-width: 300px) {
          footer > ul > li:nth-child(1) {
            -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
            order: 4; }
            footer > ul > li:nth-child(1) img {
              margin-bottom: 20px; } }
        footer > ul > li:nth-child(1) > * {
          display: block;
          -ms-flex-item-align: end;
          align-self: flex-end; }
        footer > ul > li:nth-child(1) img {
          margin-bottom: 16px; }
      footer > ul > li h4 {
        margin-bottom: 45px;
        font-size: 20px;
        font-weight: bold; }
        @media screen and (max-width: 576px) and (min-width: 300px) {
          footer > ul > li h4 {
            margin-bottom: 30px; } }
      footer > ul > li li {
        margin-bottom: 27px;
        font-size: 21px;
        font-weight: 100; }
        @media screen and (max-width: 576px) and (min-width: 300px) {
          footer > ul > li li {
            margin-bottom: 30px;
            font-size: 14px; }
            footer > ul > li li:last-child {
              margin-bottom: 55px; } }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .products .mainpage .main-content p {
    margin: 36px 0 78px; }
  .products .mainpage .main-content h4 {
    margin-top: 0;
    margin-bottom: 36px; } }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .products.mainSlider .content {
    padding: 0 58px; } }

.products .content .animation-text {
  font-size: 0;
  letter-spacing: 0;
  color: #000; }
  .products .content .animation-text li {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% / 3); }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .products .content .animation-text li {
        width: 100%;
        padding: 20px 0; }
        .products .content .animation-text li img {
          width: 102px; } }
    .products .content .animation-text li img {
      max-width: 254px; }
    .products .content .animation-text li:nth-child(3) {
      text-align: left; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .products .content .animation-text li:nth-child(3) {
          text-align: center; } }
      .products .content .animation-text li:nth-child(3) h3 {
        margin-bottom: 22px; }
  .products .content .animation-text h3 {
    font-size: 36px;
    margin-bottom: 52px; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .products .content .animation-text h3 {
        font-size: 26px;
        margin-bottom: 10px; } }
  .products .content .animation-text .circle {
    position: relative;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .products .content .animation-text .circle {
        width: 50vw;
        height: 50vw; } }
    .products .content .animation-text .circle h4 {
      font-size: 36px; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .products .content .animation-text .circle h4 {
          font-size: 28px; } }
    .products .content .animation-text .circle svg + div {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.products .content.half-block {
  height: 100%; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .products .content.half-block {
      padding: 0; } }
  .products .content.half-block .half {
    font-size: 0;
    letter-spacing: 0;
    color: #000;
    height: 50%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
    -ms-flex: wrap;
    flex: wrap; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .products .content.half-block .half {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .products .content.half-block .half > div {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      height: 100%;
      vertical-align: top; }
    .products .content.half-block .half .text {
      width: 37%;
      word-break: break-all;
      text-align: left;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 100px; }
      .products .content.half-block .half .text h3 {
        margin-bottom: 50px; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .products .content.half-block .half .text {
          width: 100%;
          padding: 0 58px;
          text-align: center;
          height: 50vh;
          -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
          order: 2; }
          .products .content.half-block .half .text h3 {
            margin-bottom: 22px; } }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .products .content.half-block .half h3 {
        font-size: 26px; } }
    .products .content.half-block .half .img-wrap {
      width: 63%;
      height: 50vh;
      overflow: hidden; }
      .products .content.half-block .half .img-wrap img {
        -o-object-fit: cover;
        object-fit: cover; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .products .content.half-block .half .img-wrap {
          width: 100%;
          height: 0;
          padding-bottom: 100%;
          position: relative;
          -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
          order: 1; }
          .products .content.half-block .half .img-wrap img {
            position: absolute;
            width: 100%;
            height: 100%; } }
  .products .content.half-block .halfL .text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .products .content.half-block .halfL .img-wrap {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .products .content.half-block .flex-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .products .content.half-block .flex-4 > div {
        padding: 0 58px; }
        .products .content.half-block .flex-4 > div img {
          margin: 12px 0 16px; } }

.certsLabel h3 {
  margin-bottom: 54px; }

.certsLabel ul {
  font-size: 0;
  letter-spacing: 0;
  max-width: 800px;
  margin: 0 auto; }
  .certsLabel ul li {
    display: inline-block;
    width: calc(100% / 3);
    padding: 20px;
    text-align: center;
    vertical-align: top;
    margin-bottom: 50px; }
    .certsLabel ul li img {
      max-width: 50px;
      margin: 0 auto; }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .certsLabel h3 {
    font-size: 26px;
    margin: 118px 0 40px; }
  .certsLabel ul {
    padding: 0 58px; }
    .certsLabel ul li {
      margin-bottom: 36px;
      padding: 0 20px; }
      .certsLabel ul li img {
        max-width: 42px;
        margin-bottom: 15px; }
      .certsLabel ul li p {
        font-size: 10px;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9); } }

.specForm {
  max-width: 500px;
  margin: 0 auto;
  font-size: 0;
  letter-spacing: 0; }
  .specForm > div {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - (40px / 2)); }
    .specForm > div.specTitle {
      text-align: right; }
    .specForm > div.specList {
      margin-left: 40px;
      text-align: left; }
      .specForm > div.specList li {
        margin-bottom: 18px; }
        .specForm > div.specList li p {
          margin: 0;
          margin-bottom: 8px;
          font-size: 16px; }
          @media screen and (max-width: 768px) and (min-width: 300px) {
            .specForm > div.specList li p {
              font-size: 10px;
              -webkit-transform: scale(0.9);
              -ms-transform: scale(0.9);
              transform: scale(0.9); } }
        @media screen and (max-width: 768px) and (min-width: 300px) {
          .specForm > div.specList li {
            margin-bottom: 14px; } }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .specForm h3 {
      font-size: 28px; } }
  .specForm h4 + p {
    margin: 12px 0 45px; }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .section-spec {
    padding: 124px 0 40px; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); } }

@-webkit-keyframes fadeInBig {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }

@keyframes fadeInBig {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }

@-webkit-keyframes fadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(50%, 0%);
    transform: translate(50%, 0%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

@keyframes fadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(50%, 0%);
    transform: translate(50%, 0%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

@-webkit-keyframes fadeRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

@keyframes fadeRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

@keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, 50%);
    transform: translate(0%, 50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, 50%);
    transform: translate(0%, 50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }
