* {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  position: relative;
  height: 100%;
  font-size: 18px; }

body {
  font-family: MicrosoftJhengHeiLight, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4 {
  font-weight: normal; }

p {
  letter-spacing: 1px;
  font-size: 1rem; }

.color-black {
  color: #000; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.inlineBlock {
  display: inline-block;
  vertical-align: middle; }

.marginL {
  margin-left: 1rem; }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .d-sm-none {
    display: none !important; } }

.img-fluid {
  width: 100%;
  height: auto;
  display: block; }

.bg-red {
  background: #B43D37; }

.bg-blur {
  -webkit-filter: blur(10px);
  filter: blur(10px); }

.container {
  max-width: 1680px;
  margin: 0 auto; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .container {
      width: 100%; } }

@media screen and (min-width: 769px) {
  .d-md-block {
    display: block !important; } }

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 20px;
  color: #787878; }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  header li {
    display: inline-block;
    color: #ddd;
    vertical-align: middle; }
    header li > * {
      display: inline-block;
      vertical-align: middle; }
    header li p {
      color: #787878; }
    header li img,
    header li svg {
      width: 30px; }
      header li img .cls-1,
      header li svg .cls-1 {
        fill: none; }
      header li img .cls-2,
      header li svg .cls-2 {
        fill: #ddd;
        stroke-width: 0; }
      header li img.menu,
      header li svg.menu {
        width: 52px;
        margin-right: 17px; }
    header li .background--light svg .cls-2 {
      fill: #252525; }

.target {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.background--light {
  color: #252525 !important; }

.background--dark {
  color: #ddd !important; }

.mainSlider {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }
  .mainSlider .section {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: 50% 50%; }
    .mainSlider .section .bgimg {
      max-width: 600px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      z-index: 0;
      opacity: 0; }
      .mainSlider .section .bgimg.bgimg-big {
        max-width: 1170px; }
        @media screen and (max-width: 768px) and (min-width: 300px) {
          .mainSlider .section .bgimg.bgimg-big {
            -o-object-fit: cover;
            object-fit: cover;
            height: auto;
            max-width: 80%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); } }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .mainSlider .section .bgimg {
          max-width: 100%; } }
    .mainSlider .section.active .bgimg {
      -webkit-animation: fadeIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
      animation: fadeIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); } }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .mainSlider .section.active .bgimg-big {
        -webkit-animation: fadeInBig 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        animation: fadeInBig 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }
      @-webkit-keyframes fadeInBig {
        0% {
          opacity: 0;
          -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%); }
        100% {
          opacity: 1;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); } }
      @keyframes fadeInBig {
        0% {
          opacity: 0;
          -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%); }
        100% {
          opacity: 1;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); } } }
  .mainSlider .content {
    color: #ddd;
    position: relative;
    z-index: 1;
    display: block;
    margin: auto;
    text-align: center; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .mainSlider .content {
        padding: 0 40px; }
        .mainSlider .content h2 {
          font-size: 48px; } }
    .mainSlider .content a {
      display: block;
      margin: 0 auto;
      padding: 15px;
      border: 1px solid #ddd;
      color: #ddd;
      border-radius: 30px;
      text-decoration: none;
      max-width: 292px;
      font-size: 16px;
      font-weight: lighter; }
      .mainSlider .content a.background--light {
        border: 1px solid #252525; }
  .mainSlider .main-content h3 {
    font-size: 42px; }
  .mainSlider .main-content h4 {
    margin: 120px 0 55px;
    font-size: 36px;
    font-weight: normal; }
  .mainSlider .main-content p {
    margin: 52px 0 70px; }
  .mainSlider .video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
    .mainSlider .video-wrap video {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }

#dots {
  position: absolute;
  right: auto !important;
  left: 40px;
  bottom: 140px;
  top: auto;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0); }
  #dots .dot-active {
    background-color: #787878; }
  #dots .dot {
    margin: 10px 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    #dots .dot a {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: block;
      background-color: #858585; }
    #dots .dot.active {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      #dots .dot.active a {
        background-color: #787878; }

.section {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .section h2 {
    font-size: 72px;
    font-weight: 400; }

.slider-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 0px 40px 40px; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .slider-footer {
      position: fixed; } }
  .slider-footer p {
    color: #787878; }
  .slider-footer ul {
    font-size: 0; }
    .slider-footer ul li {
      display: inline-block;
      vertical-align: bottom;
      width: calc(100% / 3); }
      @media screen and (max-width: 768px) and (min-width: 0) {
        .slider-footer ul li {
          width: 100%;
          text-align: center; } }
      .slider-footer ul li.contact p {
        font-size: 18px; }
      .slider-footer ul li.contact a img {
        margin-left: 28px;
        width: 28px;
        height: 28px; }

footer {
  background-color: #252525;
  padding: 48px 40px 200px;
  color: #ddd; }
  @media screen and (max-width: 576px) and (min-width: 300px) {
    footer {
      padding: 50px 25px; }
      footer p {
        font-size: 12px; } }
  footer > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media screen and (max-width: 576px) and (min-width: 300px) {
      footer > ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    footer > ul > li {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: left; }
      footer > ul > li:nth-child(1) {
        -webkit-box-flex: 3;
        -ms-flex: 3;
        flex: 3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        @media screen and (max-width: 576px) and (min-width: 300px) {
          footer > ul > li:nth-child(1) {
            -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
            order: 4; }
            footer > ul > li:nth-child(1) img {
              margin-bottom: 20px; } }
        footer > ul > li:nth-child(1) > * {
          display: block;
          -ms-flex-item-align: end;
          align-self: flex-end; }
        footer > ul > li:nth-child(1) img {
          margin-bottom: 16px; }
      footer > ul > li h4 {
        margin-bottom: 45px;
        font-size: 20px;
        font-weight: bold; }
        @media screen and (max-width: 576px) and (min-width: 300px) {
          footer > ul > li h4 {
            margin-bottom: 30px; } }
      footer > ul > li li {
        margin-bottom: 27px;
        font-size: 21px;
        font-weight: 100; }
        @media screen and (max-width: 576px) and (min-width: 300px) {
          footer > ul > li li {
            margin-bottom: 30px;
            font-size: 14px; }
            footer > ul > li li:last-child {
              margin-bottom: 55px; } }

.products .content .animation-text {
  font-size: 0;
  letter-spacing: 0;
  color: #000; }
  .products .content .animation-text li {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% / 3); }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .products .content .animation-text li {
        width: 100%;
        padding: 20px 0; } }
    .products .content .animation-text li img {
      max-width: 254px; }
    .products .content .animation-text li p {
      text-align: left; }
  .products .content .animation-text h3 {
    font-size: 36px;
    margin-bottom: 52px; }
  .products .content .animation-text .circle {
    width: 264px;
    height: 264px;
    border: 1px solid #B43D37;
    border-radius: 50%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .products .content .animation-text .circle h4 {
      font-size: 36px; }

.products .content.half-block {
  height: 100%; }
  .products .content.half-block .half {
    font-size: 0;
    letter-spacing: 0;
    color: #000;
    height: 50%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
    -ms-flex: wrap;
    flex: wrap; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .products .content.half-block .half {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .products .content.half-block .half > div {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      height: 100%;
      vertical-align: top; }
    .products .content.half-block .half .text {
      width: 37%;
      word-break: break-all;
      text-align: left;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 100px; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .products .content.half-block .half .text {
          width: 100%;
          padding: 0 20px; } }
      .products .content.half-block .half .text h3 {
        margin-bottom: 50px; }
    .products .content.half-block .half h3 {
      font-size: 42px; }
    .products .content.half-block .half .img-wrap {
      width: 63%;
      height: 50vh;
      overflow: hidden; }
      .products .content.half-block .half .img-wrap img {
        -o-object-fit: cover;
        object-fit: cover; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .products .content.half-block .half .img-wrap {
          width: 100%; } }
  .products .content.half-block .halfL .text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .products .content.half-block .halfL .img-wrap {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .products .content.half-block .flex-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.certsLabel h3 {
  font-size: 42px;
  margin-bottom: 54px; }

.certsLabel ul {
  font-size: 0;
  letter-spacing: 0;
  max-width: 800px;
  margin: 0 auto; }
  .certsLabel ul li {
    display: inline-block;
    width: calc(100% / 3);
    padding: 20px;
    text-align: center;
    vertical-align: top;
    margin-bottom: 50px; }
    .certsLabel ul li img {
      max-width: 50px;
      margin: 0 auto; }

.specForm {
  max-width: 500px;
  margin: 0 auto;
  font-size: 0;
  letter-spacing: 0; }
  .specForm > div {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - (40px / 2)); }
    .specForm > div.specTitle {
      text-align: right; }
    .specForm > div.specList {
      margin-left: 40px;
      text-align: left; }
      .specForm > div.specList li {
        margin-bottom: 18px; }
        .specForm > div.specList li p {
          margin: 0;
          margin-bottom: 8px;
          font-size: 16px; }
  .specForm h4 + p {
    margin: 12px 0 45px; }
