@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  position: relative;
  height: 100%;
  font-size: 18px;
  font-family: 'MicrosoftJhengHei', '微軟正黑體', Arial, Helvetica, sans-serif; }

body {
  font-family: 'MicrosoftJhengHeiLight', 'MicrosoftJhengHei', '微軟正黑體', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4, p {
  font-weight: lighter; }

h3 {
  font-size: 42px; }

h4 {
  font-size: 20px; }

p {
  font-size: 1rem; }

.row {
  font-size: 0; }

.vertical-mid {
  vertical-align: middle; }

.vertical-top {
  vertical-align: top; }

.em-4 {
  display: inline-block;
  width: calc(100% / 3); }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .em-4 {
      width: 100%; } }

.em-6 {
  display: inline-block;
  width: calc(100% / 2); }
  .em-6:nth-child(2n) {
    padding: 0 30px; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .em-6 {
      width: 100%; } }

.color-black {
  color: #000; }

.text-center {
  text-align: center; }

.text-jus {
  text-align: justify; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.inlineBlock {
  display: inline-block;
  vertical-align: middle; }

.marginL {
  margin-left: 1rem; }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .d-sm-none {
    display: none !important; } }

.img-fluid {
  width: 100%;
  height: auto;
  display: block; }

.bg-red {
  background: #B43D37; }
  .bg-red:hover {
    background: #a03631; }

.bg-blur {
  -webkit-filter: blur(10px);
  filter: blur(10px); }

.container {
  max-width: 1680px;
  margin: 0 auto; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .container {
      width: 100%; } }

@media screen and (min-width: 769px) {
  .d-md-block {
    display: block !important; } }

.target {
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s; }

.background--light {
  color: #252525 !important; }

.background--dark {
  color: #ddd !important; }

.section {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .section h2 {
    font-size: 72px; }

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 15px 20px 20px;
  color: #787878; }
  header #menu {
    position: relative;
    z-index: 102;
    cursor: pointer; }
  header .menuUl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  header li {
    display: inline-block;
    color: #ddd;
    vertical-align: middle; }
    header li > * {
      display: inline-block;
      vertical-align: middle; }
    header li p {
      color: #787878; }
    header li .menu-line {
      width: 52px;
      height: 2px;
      background: #787878;
      position: relative;
      margin-right: 13px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      margin-top: 7px; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        header li .menu-line {
          width: 26px; } }
      header li .menu-line:before, header li .menu-line:after {
        content: '';
        display: block;
        position: absolute;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        width: 100%;
        height: 2px;
        background: #787878; }
      header li .menu-line:before {
        top: -13px; }
      header li .menu-line:after {
        bottom: -13px; }
      header li .menu-line.active {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
        header li .menu-line.active:before {
          -webkit-transform: translate(-100%, 0);
          -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
          opacity: 0; }
        header li .menu-line.active:after {
          -webkit-transform: rotate(90deg) translate(-25%, 0);
          -ms-transform: rotate(90deg) translate(-25%, 0);
          transform: rotate(90deg) translate(-25%, 0); }
          @media screen and (max-width: 768px) and (min-width: 300px) {
            header li .menu-line.active:after {
              -webkit-transform: rotate(90deg) translate(-50%, 0);
              -ms-transform: rotate(90deg) translate(-50%, 0);
              transform: rotate(90deg) translate(-50%, 0); } }
    header li img,
    header li svg {
      width: 30px; }
      header li img .cls-1,
      header li svg .cls-1 {
        fill: none; }
      header li img .cls-2,
      header li svg .cls-2 {
        fill: #ddd;
        stroke-width: 0; }
      header li img.menu,
      header li svg.menu {
        width: 52px;
        margin-right: 17px; }
        @media screen and (max-width: 768px) and (min-width: 300px) {
          header li img.menu,
          header li svg.menu {
            width: 32px; } }
    header li .background--light svg .cls-2 {
      fill: #252525; }

.menu-list {
  width: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  background: white;
  z-index: 100;
  font-size: 0;
  -webkit-transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .menu-list.active {
    left: 0; }
    .menu-list.active .logo-area {
      -webkit-animation: fadeDown .5s .5s forwards;
      animation: fadeDown .5s .5s forwards; }
    .menu-list.active .showImg {
      -webkit-animation: fadeUp .5s .8s forwards;
      animation: fadeUp .5s .8s forwards; }
  .menu-list .logo-area {
    display: block;
    width: 100%;
    padding: 115px 0 40px;
    text-align: center;
    opacity: 0; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .menu-list .logo-area {
        padding: 60px 0 20px; } }
    .menu-list .logo-area img {
      max-width: 200px; }
  .menu-list .lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .menu-list .lists {
        height: calc(100% - 154px); } }
    .menu-list .lists > * {
      display: inline-block;
      vertical-align: top; }
    .menu-list .lists ul {
      width: 25%; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .menu-list .lists ul {
          -ms-flex-item-align: end;
          align-self: flex-end; } }
      .menu-list .lists ul li {
        display: block;
        text-align: center;
        position: relative;
        z-index: 101;
        margin-bottom: 40px; }
        .menu-list .lists ul li:last-child {
          margin-bottom: 100px; }
        .menu-list .lists ul li:nth-child(2) {
          margin: 168px 0; }
          @media screen and (max-width: 768px) and (min-width: 300px) {
            .menu-list .lists ul li:nth-child(2) {
              margin: 0 0 40px 0; } }
        @media screen and (max-width: 768px) and (min-width: 300px) {
          .menu-list .lists ul li {
            padding: 20px; } }
        .menu-list .lists ul li a {
          font-size: 20px;
          color: #787878;
          text-decoration: none;
          display: inline-block;
          width: 100%;
          font-weight: lighter; }
          @media screen and (max-width: 768px) and (min-width: 300px) {
            .menu-list .lists ul li a {
              font-size: 16px; } }
  .menu-list .showImg {
    width: 50%;
    opacity: 0; }
    .menu-list .showImg img {
      height: calc(100% - 229px);
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: 50% 0%;
      object-position: 50% 0%; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .menu-list .showImg img {
          height: auto;
          width: 100vw;
          margin-left: -50%; } }

.sibling-menu-list {
  position: fixed;
  top: 0;
  width: 75%;
  height: 100%;
  z-index: 102;
  background: #252525;
  left: 125%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .sibling-menu-list.active {
    left: 25%;
    overflow: auto; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .sibling-menu-list.active {
        width: 100%;
        left: 0; } }
  .sibling-menu-list .back {
    width: 30px;
    height: 30px;
    padding: 5px;
    position: absolute;
    top: 70px;
    left: 70px;
    cursor: pointer; }
    @media screen and (min-width: 769px) {
      .sibling-menu-list .back {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        -ms-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg); } }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .sibling-menu-list .back {
        left: 30px;
        top: 40px;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); } }
  .sibling-menu-list ul {
    font-size: 0;
    padding: 140px; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .sibling-menu-list ul {
        padding: 80px 40px; } }
    .sibling-menu-list ul li {
      display: inline-block;
      width: calc(50% - 34px / 2);
      margin-bottom: 34px;
      background: #fff;
      height: 298px;
      -webkit-animation: fadeUp .5s backwards;
      animation: fadeUp .5s backwards; }
      .sibling-menu-list ul li:nth-child(1) {
        -webkit-animation-delay: .5s;
        animation-delay: .5s; }
      .sibling-menu-list ul li:nth-child(2) {
        -webkit-animation-delay: .6s;
        animation-delay: .6s; }
      .sibling-menu-list ul li:nth-child(3) {
        -webkit-animation-delay: .7s;
        animation-delay: .7s; }
      .sibling-menu-list ul li:nth-child(4) {
        -webkit-animation-delay: .8s;
        animation-delay: .8s; }
      .sibling-menu-list ul li:nth-child(5) {
        -webkit-animation-delay: .9s;
        animation-delay: .9s; }
      .sibling-menu-list ul li:nth-child(6) {
        -webkit-animation-delay: 1s;
        animation-delay: 1s; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .sibling-menu-list ul li {
          width: 100%;
          height: 208px;
          margin-bottom: 20px; } }
      .sibling-menu-list ul li img {
        -o-object-fit: cover;
        object-fit: cover;
        height: 230px; }
        @media screen and (max-width: 768px) and (min-width: 300px) {
          .sibling-menu-list ul li img {
            height: 140px; } }
      .sibling-menu-list ul li p {
        text-align: center;
        margin: 14px 0 18px;
        width: 100%;
        font-size: 11px;
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
        color: #000; }
        .sibling-menu-list ul li p span {
          color: #787878; }
      .sibling-menu-list ul li:nth-child(2n) {
        margin-left: 34px; }
        @media screen and (max-width: 768px) and (min-width: 300px) {
          .sibling-menu-list ul li:nth-child(2n) {
            margin-left: 0; } }
    .sibling-menu-list ul .dots {
      padding: 0;
      text-align: center;
      width: 100%; }
      .sibling-menu-list ul .dots li {
        display: inline-block;
        margin: 0 8px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        cursor: pointer; }

.mainSlider {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }
  .mainSlider.unscroll {
    height: 100%;
    overflow: hidden; }

.section {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .section .bgimg {
    max-width: 600px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 0;
    opacity: 0; }
    .section .bgimg.bgimg-big {
      max-width: 1170px; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .section .bgimg.bgimg-big {
          -o-object-fit: cover;
          object-fit: cover;
          height: auto;
          max-width: 80%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); } }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .section .bgimg {
        max-width: 100%; } }
  .section.active .bgimg {
    -webkit-animation: fadeIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation: fadeIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .section.active .bgimg-big {
      -webkit-animation: fadeInBig 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
      animation: fadeInBig 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; } }
  .section.active .fadeLeft {
    -webkit-animation: fadeLeft 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation: fadeLeft 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }
  .section.active .fadeRight {
    -webkit-animation: fadeRight 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation: fadeRight 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }
  .section.active .fadeLeft {
    -webkit-animation: fadeLeft 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation: fadeLeft 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }
  .section.active .fadeDown {
    opacity: 0;
    -webkit-animation: fadeDown 2s 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation: fadeDown 2s 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }
  .section.active .fadeUp {
    opacity: 0;
    -webkit-animation: fadeUp 2s 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation: fadeUp 2s 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }

.content {
  color: #ddd;
  position: relative;
  z-index: 1;
  display: block;
  margin: auto;
  text-align: center; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .content {
      padding: 0 40px; }
      .content h2 {
        font-size: 48px; } }
  .content a {
    display: block;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ddd;
    color: #ddd;
    border-radius: 30px;
    text-decoration: none;
    max-width: 292px;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .content a {
        font-size: 14px;
        max-width: 200px;
        padding: 8px 10px; } }
    .content a.background--light {
      border: 1px solid #252525; }

.main-content h4 {
  margin: 120px 0 55px;
  font-size: 36px; }

.main-content p {
  margin: 52px 0 70px;
  font-weight: normal; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .main-content p {
      margin-top: 17px;
      font-size: 14px; } }

.video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .video-wrap video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.product-select {
  margin-top: 44px; }
  .product-select li {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #787878;
    padding: 10px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    position: relative; }
    .product-select li span {
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

#dots {
  position: absolute;
  right: auto !important;
  left: 40px;
  bottom: 140px;
  top: auto;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0); }
  #dots .dot-active {
    background-color: #787878; }
  #dots .dot {
    margin: 10px 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    #dots .dot a {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: block;
      background-color: #858585; }
    #dots .dot.active {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      #dots .dot.active a {
        background-color: #787878; }

.slider-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 0px 40px 40px; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .slider-footer {
      position: fixed;
      padding: 0 20px 40px; }
      .slider-footer.active {
        z-index: 100; }
        .slider-footer.active .arrow {
          display: none; }
        .slider-footer.active ul li.contact {
          display: -webkit-box !important;
          display: -ms-flexbox !important;
          display: flex !important;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          .slider-footer.active ul li.contact p {
            margin-right: auto; } }
  .slider-footer p {
    color: #787878; }
  .slider-footer ul {
    font-size: 0; }
    .slider-footer ul li {
      display: inline-block;
      vertical-align: bottom;
      width: calc(100% / 3); }
      @media screen and (max-width: 768px) and (min-width: 0) {
        .slider-footer ul li {
          width: 100%;
          text-align: center; } }
      .slider-footer ul li.contact p {
        font-size: 18px; }
      .slider-footer ul li.contact a img {
        margin-left: 28px;
        width: 28px;
        height: 28px; }
  .slider-footer .arrow {
    width: 40px;
    margin-right: 22px; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .slider-footer .arrow {
        margin-right: 0; } }

footer {
  background-color: #252525;
  padding: 48px 40px 200px;
  color: #ddd;
  width: 100%; }
  @media screen and (max-width: 576px) and (min-width: 300px) {
    footer {
      padding: 50px 25px; }
      footer p {
        font-size: 12px; } }
  footer > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media screen and (max-width: 576px) and (min-width: 300px) {
      footer > ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    footer > ul > li {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: left; }
      footer > ul > li:nth-child(1) {
        -webkit-box-flex: 3;
        -ms-flex: 3;
        flex: 3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        @media screen and (max-width: 576px) and (min-width: 300px) {
          footer > ul > li:nth-child(1) {
            -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
            order: 4; }
            footer > ul > li:nth-child(1) img {
              margin-bottom: 20px; } }
        footer > ul > li:nth-child(1) > * {
          display: block;
          -ms-flex-item-align: end;
          align-self: flex-end; }
        footer > ul > li:nth-child(1) img {
          margin-bottom: 16px; }
      footer > ul > li h4 {
        margin-bottom: 45px;
        font-size: 16px;
        font-weight: bold; }
        @media screen and (max-width: 576px) and (min-width: 300px) {
          footer > ul > li h4 {
            margin-bottom: 30px; } }
      footer > ul > li li {
        margin-bottom: 27px;
        font-size: 15px;
        font-weight: 100; }
        @media screen and (min-width: 769px) {
          footer > ul > li li:last-child {
            margin-bottom: 0; } }
        @media screen and (max-width: 576px) and (min-width: 300px) {
          footer > ul > li li {
            margin-bottom: 30px;
            font-size: 14px; }
            footer > ul > li li:last-child {
              margin-bottom: 55px; } }
  footer a {
    color: #787878;
    text-decoration: none; }
    footer a:visited, footer a:hover, footer a:active {
      color: #787878; }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .products .mainpage .main-content p {
    margin: 36px 0 78px; }
  .products .mainpage .main-content h4 {
    margin-top: 0;
    margin-bottom: 36px; } }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .products.mainSlider .content {
    padding: 0 58px; } }

.products .content .animation-text {
  font-size: 0;
  letter-spacing: 0;
  color: #000; }
  .products .content .animation-text li {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% / 3);
    padding: 0 40px; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .products .content .animation-text li {
        width: 100%;
        padding: 10vh 0; }
        .products .content .animation-text li:nth-child(2) {
          padding: 0; }
        .products .content .animation-text li img {
          width: 102px; } }
    .products .content .animation-text li img {
      max-width: 254px; }
    .products .content .animation-text li:nth-child(3) {
      text-align: left; }
      .products .content .animation-text li:nth-child(3) h3 {
        margin-bottom: 52px; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .products .content .animation-text li:nth-child(3) {
          text-align: center; }
          .products .content .animation-text li:nth-child(3) h3 {
            margin-bottom: 22px; } }
  .products .content .animation-text h3 {
    font-size: 36px;
    margin-bottom: 52px; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .products .content .animation-text h3 {
        font-size: 26px;
        margin-bottom: 10px; } }
  .products .content .animation-text .circle {
    position: relative;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .products .content .animation-text .circle {
        width: 50vw;
        height: 50vw; } }
    .products .content .animation-text .circle h4 {
      font-size: 36px; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .products .content .animation-text .circle h4 {
          font-size: 28px; } }
    .products .content .animation-text .circle svg + div {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.products .content.half-block {
  height: 100%; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .products .content.half-block {
      padding: 0; } }
  .products .content.half-block .half {
    font-size: 0;
    letter-spacing: 0;
    color: #000;
    height: 50%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
    -ms-flex: wrap;
    flex: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .products .content.half-block .half {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .products .content.half-block .half > div {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      height: 100%;
      vertical-align: top; }
    .products .content.half-block .half .text {
      width: 37%;
      word-break: break-all;
      text-align: left;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 100px; }
      .products .content.half-block .half .text h3 {
        margin-bottom: 50px; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .products .content.half-block .half .text {
          width: 100%;
          padding: 0 58px;
          text-align: center;
          height: 50vh;
          -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
          order: 2; }
          .products .content.half-block .half .text h3 {
            margin-bottom: 22px; } }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .products .content.half-block .half h3 {
        font-size: 26px; } }
    .products .content.half-block .half .img-wrap {
      width: 63%;
      height: 50vh;
      overflow: hidden; }
      .products .content.half-block .half .img-wrap img {
        -o-object-fit: cover;
        object-fit: cover; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .products .content.half-block .half .img-wrap {
          width: 100%;
          height: 0;
          padding-bottom: 100%;
          position: relative;
          -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
          order: 1; }
          .products .content.half-block .half .img-wrap img {
            position: absolute;
            width: 100%;
            height: 100%; } }
  .products .content.half-block .halfL .text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .products .content.half-block .halfL .img-wrap {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .products .content.half-block .flex-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .products .content.half-block .flex-4 > div {
        padding: 0 58px; }
        .products .content.half-block .flex-4 > div img {
          margin: 12px 0 16px; } }

.certsLabel h3 {
  margin-bottom: 54px; }

.certsLabel ul {
  font-size: 0;
  letter-spacing: 0;
  max-width: 800px;
  margin: 0 auto; }
  .certsLabel ul li {
    display: inline-block;
    width: calc(100% / 3);
    padding: 20px;
    text-align: center;
    vertical-align: top;
    margin-bottom: 50px; }
    .certsLabel ul li img {
      max-width: 70px;
      margin: 0 auto 32px; }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .certsLabel h3 {
    font-size: 26px;
    margin: 0 0 40px; }
  .certsLabel ul {
    padding: 0 58px; }
    .certsLabel ul li {
      margin-bottom: 36px;
      padding: 0 20px; }
      .certsLabel ul li img {
        max-width: 42px;
        margin-bottom: 15px; }
      .certsLabel ul li p {
        font-size: 10px;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9); } }

.specForm {
  max-width: 500px;
  margin: 0 auto;
  font-size: 0;
  letter-spacing: 0; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .specForm {
      margin: 20px auto 0; } }
  .specForm > div {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - (40px / 2)); }
    .specForm > div.specTitle {
      text-align: right;
      font-weight: bolder; }
    .specForm > div.specList {
      margin-left: 40px;
      text-align: left; }
      .specForm > div.specList li {
        margin-bottom: 18px; }
        .specForm > div.specList li p {
          margin: 0;
          font-size: 16px; }
          .specForm > div.specList li p:first-child {
            margin-bottom: 8px; }
          .specForm > div.specList li p:nth-child(2) {
            font-weight: lighter; }
          @media screen and (max-width: 768px) and (min-width: 300px) {
            .specForm > div.specList li p {
              font-size: 10px;
              -webkit-transform: scale(0.9);
              -ms-transform: scale(0.9);
              transform: scale(0.9); } }
        @media screen and (max-width: 768px) and (min-width: 300px) {
          .specForm > div.specList li {
            margin-bottom: 14px; } }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .specForm h3 {
      font-size: 28px; } }
  .specForm h4 + p {
    margin: 12px 0 45px; }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .section-spec {
    padding: 0; } }

#wave {
  position: relative;
  max-width: 410px;
  margin: 0px auto; }
  #wave canvas {
    width: 100% !important;
    height: auto !important; }
  #wave:before, #wave:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #00d0aa;
    display: block;
    border-radius: 50%;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
  #wave:before {
    left: 0; }
  #wave:after {
    right: 0; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); } }

@-webkit-keyframes fadeInBig {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }

@keyframes fadeInBig {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }

@-webkit-keyframes fadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(50%, 0%);
    transform: translate(50%, 0%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

@keyframes fadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(50%, 0%);
    transform: translate(50%, 0%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

@-webkit-keyframes fadeRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

@keyframes fadeRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

@keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, 50%);
    transform: translate(0%, 50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, 50%);
    transform: translate(0%, 50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%) scaleY(0);
    transform: translateY(-10%) scaleY(0); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%) scaleY(1);
    transform: translateY(0%) scaleY(1); } }

@keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%) scaleY(0);
    transform: translateY(-10%) scaleY(0); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%) scaleY(1);
    transform: translateY(0%) scaleY(1); } }

@media screen and (min-width: 769px) {
  .childpage .row .em-4:nth-child(3) {
    position: relative;
    z-index: 1;
    margin-left: -80px;
    padding-right: 10px; } }

.childpage .squareImg {
  width: 100%;
  position: relative;
  padding-bottom: 100%; }
  .childpage .squareImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .childpage .content {
    padding: 0 20px; } }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .childpage h3 {
    font-weight: lighter;
    font-size: 22px;
    margin: 10px 0 20px; } }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .childpage p {
    font-size: 16px;
    font-weight: lighter; } }

article {
  color: #000;
  margin-bottom: 40px; }
  article .container {
    max-width: 1260px; }
  article h4 {
    margin-bottom: 18px; }
  article p {
    line-height: 180%; }
  article p.date {
    font-size: 14px;
    margin: 90px 0 45px; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      article p.date {
        margin: 20px 0; } }
  article:nth-child(2n) .row {
    direction: rtl; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    article {
      margin-bottom: 40px; } }

.faq-list {
  font-size: 0;
  max-width: 800px;
  margin: 0 auto; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .faq-list {
      margin: 64px auto; } }
  .faq-list li {
    display: inline-block;
    width: calc(100% / 5);
    overflow: hidden; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .faq-list li {
        width: 100%; } }
    .faq-list li .faq-title {
      position: relative;
      z-index: 1; }
      .faq-list li .faq-title:hover svg .cls-1 {
        fill: #c3312f; }
      .faq-list li .faq-title:hover p {
        color: #c3312f; }
      .faq-list li .faq-title.active svg .cls-1 {
        fill: #c3312f; }
      .faq-list li .faq-title.active p {
        color: #c3312f; }
        @media screen and (max-width: 768px) and (min-width: 300px) {
          .faq-list li .faq-title.active p {
            color: #fff; } }
    .faq-list li .svg-wrap {
      display: inline-block;
      background: #fff;
      padding: 10px;
      border-radius: 50%;
      position: relative;
      z-index: 1; }
    .faq-list li svg {
      max-width: 78px;
      width: 100%;
      cursor: pointer; }
      .faq-list li svg .cls-1 {
        fill: #4d4d4d; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .faq-list li svg {
          max-width: 60px; } }
    .faq-list li p {
      margin-top: 20px;
      font-size: 12px;
      line-height: 150%; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .faq-list li p {
          margin: 10px 0 32px; } }
    .faq-list li .faq-content {
      display: none; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .faq-list li .faq-content {
          background: #252525;
          color: #fff;
          padding: 80px 20px 26px;
          -webkit-transform: translateY(-100px);
          -ms-transform: translateY(-100px);
          transform: translateY(-100px);
          display: none;
          margin-bottom: -60px;
          -webkit-transform-origin: top;
          -ms-transform-origin: top;
          transform-origin: top; } }

.faq-answer {
  margin: 108px auto 110px;
  max-width: 800px; }
  .faq-answer p {
    line-height: 180%;
    display: none; }
    .faq-answer p.active {
      display: block; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .faq-answer {
      display: none; } }

.faq .faq-list {
  margin: auto;
  max-width: 100%; }
  .faq .faq-list li {
    width: 100%; }
    .faq .faq-list li .faq-title.active p {
      color: #fff; }
    .faq .faq-list li p {
      font-size: 20px;
      margin-bottom: 32px; }

.faq .faq-content {
  background: #252525;
  color: #fff;
  padding: 80px 20px 26px;
  -webkit-transform: translateY(-130px);
  -ms-transform: translateY(-130px);
  transform: translateY(-130px);
  margin-bottom: -60px;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top; }

.warranty {
  padding: 52px 0; }
  .warranty .em-6:nth-child(2) {
    padding: 0 0 0 30px; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .warranty .em-6:nth-child(2) {
        padding: 0; } }
  .warranty .warranty-info {
    margin: 52px 0 144px;
    text-align: justify; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .warranty .warranty-info {
        margin: 20px 0 32px; } }
    .warranty .warranty-info p {
      margin-bottom: 40px;
      line-height: 180%; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .warranty .warranty-info p {
          margin-bottom: 32px; } }
  .warranty.container {
    max-width: 800px; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .warranty.container {
        padding: 0 20px; } }
  .warranty form {
    text-align: left; }
    .warranty form h4 {
      margin-bottom: 24px; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .warranty form h4 {
          margin: 20px 0 36px; } }
  .warranty .input-group input,
  .warranty .input-group textarea {
    margin: 12px 0 36px;
    font-size: 20px; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .warranty .input-group input,
      .warranty .input-group textarea {
        margin: 12px 0; } }
  .warranty .input-group input[type="radio"] {
    margin-top: 24px; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .warranty .input-group input[type="radio"] {
        margin: 20px 0 20px; } }
  .warranty .input-group.list {
    font-size: 0; }
    .warranty .input-group.list label {
      font-size: 1rem;
      display: inline-block;
      width: calc(100% / 5); }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .warranty .input-group.list label {
          width: calc(100% /3); } }
      .warranty .input-group.list label p {
        display: inline-block;
        vertical-align: middle;
        margin: 24px 0 36px;
        word-break: break-all; }
        @media screen and (max-width: 768px) and (min-width: 300px) {
          .warranty .input-group.list label p {
            margin: 20px 0 20px; } }
  .warranty .upload-block {
    border: 1px solid #ddd;
    color: #ddd;
    display: inline-block;
    width: 84px;
    height: 84px;
    border-radius: 10px;
    text-align: center;
    line-height: 72px;
    font-size: 42px;
    cursor: pointer;
    margin-top: 12px; }
  .warranty input[type="text"],
  .warranty textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    height: 42px;
    border-radius: 21px; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .warranty input[type="text"],
      .warranty textarea {
        height: 26px;
        padding: 0 10px; } }
  .warranty input[type="file"] {
    width: 100%; }
  .warranty input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #ddd; }
    .warranty input[type="radio"]:checked {
      background-color: #252525; }
  .warranty textarea {
    height: 84px; }
  .warranty .buttons {
    margin: 54px 0; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .warranty .buttons {
        margin: 36px 0; } }
  .warranty button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    background-color: #ddd;
    display: inline-block;
    width: 100%;
    border: 0px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 12px; }
    .warranty button.btn-red {
      background: #c3312f;
      color: #fff; }

.text-only {
  margin: 176px 0; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .text-only {
      margin: 112px 0;
      padding: 0 20px; } }
  .text-only h3 {
    margin-bottom: 64px; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .text-only h3 {
        margin-bottom: 48px; } }
  .text-only p {
    line-height: 180%;
    margin-bottom: 40px; }
  .text-only h4 {
    margin-bottom: 15px; }
